body{
    background-color:  #009579;
    display: grid;'
    place-items: center;
    height: 100%;
    font-family:sans-serif;

}


.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:360px;
    height: 400px;
    background-color: white;
    margin-top: 100px;
    float: left;
    margin-left: 200px;
    margin-top: 130px;
    
}

input{
    outline: none;
    margin:10px 25px;
    background-color: transparent;
    color: black;
    width:250px;
    height:30px;
    font-size: 15px;
    border-color: black ;

    

}

button{
    background-color: #009579;
    border:none;
    padding:10px 50px;
    cursor:pointer;
    border-radius: 5px;
    width:75%;
    

}

.links{
    padding:20px;
}

a{
   color: #009579;
}


.containerB{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:360px;
    height: 430px;
    background-color: white;
    margin-top: 100px;
    float: left;
    margin-left: 60px;
    
}

input{
    outline: none;
    margin:10px 25px;
    background-color: transparent;
    color: black;
    width:250px;
    height:30px;
    font-size: 15px;
    border-color: black ;
    float: left;
    
    

}

button{
    background-color: #009579;
    border:none;
    padding:10px 50px;
    cursor:pointer;
    border-radius: 5px;
    width:75%;
    margin-top: 10px;
    color: white;
    margin-top: 50px;

}

.links{
    padding:20px;
}

a{
   color: #009579;
}
